{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>{{title}}</h1>

      <p class="subtitle">{{description}}</p>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <p class='bold-text'>
            You've successfully connected to {{title}}. Get started in three steps:
          </p>
          <p><b>1.</b> Install the chrome extension from <a href="#">here</a> (coming soon) or from source: <a
              target="_blank" href="{{github}}">{{github}}</a></p>
          <p>
            <b>2.</b> Open the extension. Copy your account base url&nbsp;
          <pre>{{hostBaseUrl}}</pre><br />into the prompted section.
          </p>
          <p><b>3.</b> Generate a token <a href="https://confluence.atlassian.com/cloud/api-tokens-938839638.html">via
              these instructions</a>. Copy the token here into the token section. Click 'Save' and you're ready to go!
          </p>
          {{!-- <p class="code-section">
            {{secret}}
          </p> --}}
          <hr />
          You're all set to use the extension!
          </p>
        </div>
      </div>
    </section>
  </div>
</div>